.main-app-container {
  background-color: #FFFFFF;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-bar-item-burger {
  position: relative;
  top: 5.0px;
  left: 48px;
  color: white;
  z-index: 1;
}

.burger-menu-on-main {
  color: white;

}

.main-bottom-row {
  position: relative;
  display: flex;
  flex-flow: row;
  width: 100%;

}

.bottom-left {
  width: 0px;
  transition: all 0.2s ease-out;
}

.bottom-left-open {
  width: 327px;
  transition: all 0.2s ease-out;
}

.sidebar {
  z-index: 1;
}


.bottom-right-open {
  position: relative;
  top: 43px;
  height: 93%;
  transition: all 0.2s ease-out;
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0 220px;
  transition: all 0.2s ease-out;
}

.bottom-right {
  position: relative;
  top: 43px;
  height: 93%;
  transition: all 0.2s ease-out;
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transition: all 0.2s ease-out;
}

.primary-task-container {
  padding: 0 55px 10px;
}

.task-list {
  list-style: none;
  padding: 0px;
}

@media screen and (max-width: 1180px) {
  .bottom-right-open {
    margin: 0px 18%;
  }
}

@media screen and (max-width: 890px) {
  .bottom-right-open {
    margin: 0px 15%;
  }
}

@media screen and (max-width: 780px) {
  .bottom-left-open {
    width: 0px;
    margin: 0px;
    padding: 0 0px;
  }

  .bottom-right-open,
  .bottom-right {
    position: relative;
    top: 43px;
    transition: all 0.2s ease-out;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
    padding: 0px 30px;
    margin: 0 0px;
  }

  .primary-task-container {
    padding: 0 30px;
  }

}
