.nav-bar-splash-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  padding: 0 90px;
}
.nav-bar-splash-left {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 10px;
  min-width: 150px;
}
.nav-bar-splash-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0;
  min-width: 150px;
}
.logo-home {
  margin-top: 6px;
}
.site-name {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.splash-bar-name {
  color: #E44232;
  font-family: 'Segoe UI', sans-serif;
  line-height: 90%;
  font-size: 28px;
  font-weight: 600;
  padding-left: 10px;
  padding-top: 10px;
  letter-spacing: -1px;
}

.splash-bar-item {
  text-align: center;
}

.splash-link {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
  width: 88px;
  height: 80px;
  box-sizing: border-box;
  padding: 20px 16px;
  margin-top: 16px;
}

.splash-link:hover {
  background-color: #FAFAFA;
  border-bottom: solid 2px #E44232;
}
