.side-bar-container {
  background-color: #FAFAFA;
  position: fixed;
  top: 43px;
  bottom: 0px;
  left: 0px;
  width: 292px;
  padding-top: 30px;
  padding-left: 35px;
  box-shadow: 3px 3px 3px 1px lightgray;
  overflow-x: hidden;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #EEEEEE;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.3);
  border-radius: 3px;
}


.project-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-sb-title {
  font-weight: bold;
}

.add-new-list-div {
  font-size: 14px;
  font-weight: bold;
  margin: 30px 20px 20px;
  padding: 20px 30px;
  border-radius: 3px;
  box-sizing: border-box;
  width: auto;
  display: flex;
  flex-direction: row;
}

.new-project {
  margin-right: 10px;
  margin-top: 10px;
}

.project-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.archive-container {
  margin-top: 20px;
}

.project-div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 5px 12px 5px 7px;
  width: 265px;
  font-size: 14px;
}

.selected {
  background-color: #EEEEEE;
  border-radius: 5px;
}
