.task-list-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  padding: 36px 55px 8px;
}

.task-list-title {
  font-size: 20px;
  color: #202020;
  font-weight: bold;
  text-align: left;
}

.title-button-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px 20px;
}
