.project-plus {
  height: 24px;
  width: 24px;
  margin: 0 30px;
  cursor: pointer;
  text-decoration: none;
  color: #AAAAAA;
  border-radius: 3px;
}

.project-plus:hover {
  background-color: #EEEEEE;
}

svg.project-plus:hover {
  color: #333333
}
