.individual-comment-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.comment-div {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 0px;
  width: 100%;
}

.edit-div {
  display: none;
}

.edit-comment-div {
  width: 100%;
}

#comment-user {
  text-align: center;
  cursor: default;
  min-width: 36px;
  max-width: 36px;
  min-height: 36px;
  max-height: 36px;
  margin: 10px 16px 0px 0px;
  box-sizing: border-box;
  border-width: 2px;
}

.comment-div-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.comment-username {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px
}

.comment-timestamp {
  font-size: 12px;
  color: gray;
}

.comment-div-body {

  font-size: 14px;
}

.comment-button {
  margin-left: 10px;
  color: gray;
  font-size: 16px;
}
