.modal-comments-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  min-height: 80vh;
  width: 50vw;
}

.comments-proj-title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comments-proj-title {
  color: gray
}

.close-span {
  padding: 0px 5px;
  border-radius: 3px;
  cursor: pointer;
}

.close-span:hover {
  background-color: rgb(211, 211, 211, .2);
}

.close-span:hover .close-svg line {
  stroke: #333333;
}

.close-svg {
  transform: rotate(90deg);
  color: black;
}


.comments-no-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.fa-comments {
  font-size: 90px;
  color: #db4c3f82
}

.no-comments-text {
  font-size: 17px;
  color: #333333;
  text-align: center;
  padding: 20px 0px;
}

.comments-list {
  padding: 20px 0px;
}

.individual-comment-div {
  display: flex;
  flex-direction: row;
}

.comment-div {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

.comment-div-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.comment-div-body {

  font-size: 14px;
}

#comment-user {
  text-align: center;
  cursor: default;
}
