.task-container {
  position: relative;
  left: 0;
  width: 57vw;
  min-width: 56vw;
  display: flex;
  flex-direction: row;
  margin: 0 30px 0 0;
  padding: 8px 0px;
  border-bottom: .5px solid #80808020;
}

.completed-container {
  width: 25px
}

.fa-check {
  position: relative;
  top: 2px;
  left: 4.5px;
  width: 100%;
  color: white;
  font-size: 10px;
}

.done {
  color: #808080;
}

.completed-circle {
  position: absolute;
  bottom: 15px;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  font-size: 10px;
  border: 1px solid #808080;
  background-color: white;
}

.completed-circle:hover {
  border: #808080 solid 2px;
}

.completed-circle:hover .fa-check {
  transition: all .25s;
  color: #808080;
}

.checked {
  background-color: #80808040;
}

.name-description-container {
  width: 50vw;
  min-height: 34.67px;
  padding: 0 10px;
}

.task-name {
  font-size: 14px;
  color: #202020;
  min-width: 100%;
}

.task-description {
  font-size: 12px;
  color: #808080;
  min-width: 100%;
}

.task-buttons-div {
  display: flex;
  flex-direction: row;
  display: none;
}

.task-container:hover .task-buttons-div {
  display: contents;
}

@media screen and (max-width: 780px) {
  .task-container {
    width: 70vw;
    min-width: 300px;
  }

  .name-description-container {
    min-width: 200px;
  }

  .task-list-title {
    min-width: 200px;
  }
}
